:root {
  --font-header: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

body {
  font-family: var(--font-body);
  margin: 0px !important;
}

.section__title,
.display {
  font-family: var(--font-header);
}
